---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Creates an access control list (ACL) in a Redpanda cluster.

{{ .SchemaMarkdown | trimspace }}

## Usage

{{ tffile "examples/user-acl-topic/main.tf" }}

## Limitations

Redpanda currently does not support creating ACLs in self-hosted clusters. 

## Import

Redpanda currently does not support importing ACLs into the Redpanda provider.