---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Enables the provisioning and management of Redpanda clusters on AWS and GCP. A cluster requires a network and a namespace.

{{ .SchemaMarkdown | trimspace }}

## Usage

### On AWS

{{ tffile "examples/cluster/aws/main.tf" }}

### On GCP

{{ tffile "examples/cluster/gcp/main.tf" }}

## Limitations

Redpanda does not currently support provisioning BYOC clusters using this provider. Workaround:

 . Use [`rpk`](https://docs.redpanda.com/current/deploy/deployment-option/cloud/create-byoc-cluster-aws/) to provision the cluster.
 . Use the provider's `redpanda_cluster` data source to reference the cluster for use in other resources.

### Example: Usage of a data source BYOC to manage users and ACLs

{{ tffile "examples/datasource/main.tf" }}

## Import

```shell
terraform import resource.{{.Name}}.example clusterId
```

