---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Enables the provisioning and management of Redpanda clusters on AWS and GCP. A cluster must always have a network and namespace and there is not much point to creating either a network or a namespace separately from a cluster.

{{ .SchemaMarkdown | trimspace }}

## Usage

### On AWS

{{ tffile "examples/cluster/aws/main.tf" }}

### On GCP

{{ tffile "examples/cluster/gcp/main.tf" }}

## Limitations

We are not currently able to support the provisioning of "BYOC" clusters using this provider. A workaround is available

 * First use [RPK](https://docs.redpanda.com/current/deploy/deployment-option/cloud/create-byoc-cluster-aws/) to provision the cluster
 * Then use the provider's redpanda_cluster data source to reference the cluster for use in other resources.

### Example Usage of a data source BYOC to manage users and ACLs

{{ tffile "examples/datasource/main.tf" }}

## Import

