---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Creates a namespace in Redpanda Cloud. Namespaces are currently in review and may be deprecated in the future.

{{ .SchemaMarkdown | trimspace }}

## Usage

{{ tffile "examples/namespace/main.tf" }}

## Import

```shell
terraform import resource.{{.Name}}.example namespaceId
```