---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Creates a network in the Redpanda Cloud.

{{ .SchemaMarkdown | trimspace }}

## Usage

{{ tffile "examples/network/main.tf" }}

## Import

```shell
terraform import {{.Name}}.example networkId
```