---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Creates a network in the Redpanda Cloud.

{{ .SchemaMarkdown | trimspace }}

## Example Usage

{{ tffile "examples/docs/network/main.tf" }}

## Import

```shell
terraform import {{.Name}}.example networkId
```

## API Reference

For more information, see the [Redpanda Cloud Control Plane API documentation](https://docs.redpanda.com/api/cloud-controlplane-api/).