---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Creates a Resource Group in the Redpanda Cloud.

{{ .SchemaMarkdown | trimspace }}

## Usage

{{ tffile "examples/cluster/aws/main.tf" }}

## Import

```shell
terraform import resource.{{.Name}}.example resourcegroupId
```