---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Enables the provisioning and management of Redpanda Serverless clusters. A Serverless cluster must always have a resource group.

{{ .SchemaMarkdown | trimspace }}

## Usage

{{ tffile "examples/cluster/serverless/main.tf" }}

## Limitations

Provisioning of serverless clusters on GCP is currently in beta. Contact your Redpanda account team.

### Example Usage to create a serverless cluster

{{ tffile "examples/cluster/serverless/main.tf" }}

## Import

```shell
terraform import {{.Name}}.example serverlessClusterId
```

