---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Creates a topic in a Redpanda cluster.

{{ .SchemaMarkdown | trimspace }}

## Usage

{{ tffile "examples/user-acl-topic/main.tf" }}

## Limitations

Redpanda currently does not support creating topics in self-hosted clusters.

## Import

```shell
terraform import resource.{{.Name}}.example topicName,clusterId
```

Where `clusterId` is the ID of the cluster in Redpanda Cloud.