---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Creates a topic in a Redpanda cluster.

{{ .SchemaMarkdown | trimspace }}

## Usage

{{ tffile "examples/user-acl-topic/main.tf" }}

## Security Considerations

Redpanda recommends storing user passwords in a secret store and only passing them in at runtime. They are marked sensitive and are not shown in plan or apply output.

However, remember that [marking a field sensitive](https://developer.hashicorp.com/terraform/plugin/best-practices/sensitive-state) does not obscure it or encrypt it in state and that Terraform offers limited support on this.

Be cognizant of the security implications of storing sensitive data in state. Consider using a secure state backend for your state files.

## Limitations

Redpanda currently does not support creating users in self-hosted clusters. 

## Import

```shell
terraform import resource.{{.Name}}.example userName,clusterId
```

Where `clusterId` is the ID of the cluster in Redpanda Cloud.