---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Creates a user in a Redpanda Cluster.

{{ .SchemaMarkdown | trimspace }}

## Example Usage

{{ tffile "examples/docs/user/main.tf" }}

## Security Considerations

We recommend storing user passwords in a secret store and only passing them in at runtime. They are marked sensitive and will not be shown in plan or apply output.

However it is worth remembering that [marking a field sensitive](https://developer.hashicorp.com/terraform/plugin/best-practices/sensitive-state) does not obscure it or encrypt it in state and that terraform offers limited support on this matter.

Be cognizant of the security implications of storing sensitive data in state and consider using a secure state backend for your state files.

## Limitations

We are not currently able to support user creation in self hosted clusters. This is an area of active development so expect that to change soon.

## Import

```shell
# Basic import with just user name and cluster ID
terraform import {{.Name}}.example userName,clusterId

# Extended import with password
terraform import {{.Name}}.example userName,clusterId,password

# Extended import with password and mechanism
terraform import {{.Name}}.example userName,clusterId,password,mechanism
```

Where:
- `userName` is the name of the user
- `clusterId` is the ID of the cluster in Redpanda Cloud
- `password` (optional) is the user's password to set in state after import
- `mechanism` (optional) is the authentication mechanism (e.g., `SCRAM-SHA-256`) and can only be passed in with password

## API Reference

For more information, see the [Redpanda Cloud Data Plane API documentation](https://docs.redpanda.com/api/cloud-dataplane-api/).
