---
page_title: "Provider: Redpanda"
description: |-
  The Redpanda Data Terraform provider is used to manage Redpanda Dedicated and Cloud clusters and Kafka resources within them. To connect to a Redpanda Cloud cluster, a client_id and client_secret are required.
---

# Redpanda Provider

The Redpanda provider is designed for managing Redpanda clusters and Kafka resources in Redpanda Dedicated and Cloud environments. It supports the provisioning, management, and configuration of clusters and Kafka resources, facilitating seamless integration into Terraform workflows.

{{ .SchemaMarkdown | trimspace }}

## Authentication with Redpanda Cloud

This provider requires a `client_id` and `client_secret` for authentication with Redpanda Cloud services, enabling users to securely manage their Redpanda resources. You can get these by creating an account in [Redpanda Cloud](https://cloudv2.redpanda.com/home) and then [creating a client in the Redpanda Cloud UI](https://cloudv2.redpanda.com/clients).

## Example Provider Configuration

Terraform 1.0 or later:

{{ tffile "examples/provider.tf" }}

### Example Usage for an AWS Dedicated Cluster

{{ tffile "examples/cluster/aws/main.tf" }}

### Example Usage for a GCP Dedicated Cluster

{{ tffile "examples/cluster/gcp/main.tf" }}

### Example Usage of a data source BYOC to manage users and ACLs

{{ tffile "examples/datasource/standard/main.tf" }}

### Example Usage to create a serverless cluster

{{ tffile "examples/cluster/serverless/main.tf" }}
