---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Preview:** cloud provider access is a preview feature of Redpanda Cloud. Your organization must have cross-account BYOC enabled; contact Redpanda support to enable it.

{{ .SchemaMarkdown | trimspace }}

## Example Usage

{{ tffile "examples/datasource/cloud_provider_access_prerequisites/main.tf" }}
