---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ .SchemaMarkdown | trimspace }}

## Usage

```hcl
data "redpanda_cluster" "example" {
    id = "cluster_id"
}
```

## Limitations

This can only be used with Redpanda Dedicated and BYOC clusters.