---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ .SchemaMarkdown | trimspace }}

## Usage

```hcl
data "redpanda_cluster" "example" {
    id = "cluster_id"
}
```

### Example Usage of a data source BYOC to manage users and ACLs

{{ tffile "examples/datasource/main.tf" }}

## Limitations

Can only be used with Redpanda Cloud Dedicated and BYOC clusters.