name: Build and Commit Documentation

on:
  pull_request:
    types: [ labeled ]

jobs:
  build_and_commit:
    if: contains(github.event.pull_request.labels.*.name, 'docs')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Run make command
        run: make doc

      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Update documentation" || echo "No changes to commit"
          git push origin HEAD:${{ github.head_ref }}